 /* style.css contents

    I    Global
    II   Layout
    III  Typography
    IV   Components
 
*/

 /* I Global */

 :root {
     --clr-prim: #0E78BEFF;
     --clr-darker: #343633FF;
     --clr-font-light: #fff9ffde;
     --clr-font-err: #EF476FFF;
     --clr-font-warn: #FFD166FF;
     --clr-font-ok: #C2E812FF;
     --extrem-orange: #FC7A1EFF;
     --del-btn: rgba(190, 190, 190, 0.829);
     --clr-dark: #555555FF;
    
     scroll-behavior: smooth;    
     min-width: 500px;     
     overflow: clip;
    

 }

 body, * {
     font-family: silkscreennormal;
     padding: 0;
     margin: 0;     
 }



 /* II Layout */

 header,
 section,
 footer{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;   
 }


 header {     
    position: sticky;  
    padding-top: 1rem;
    gap: 1rem;
    background-color: var(--clr-prim);
    color: var(--clr-font-light);    
    border-bottom: 1px double black;
}
 
 section {
      background-color: var(--clr-font-light);
      max-height: 22.22rem;
      overflow: auto;      
 }

 footer{       
    background-color: var(--clr-darker);
    text-align: center;  
 }

 
 /* III Typography */


 h1,
 h2,
 h3 {
     text-align: center;
 }


 h1 {       
     font-size: 1.5rem;
     filter: drop-shadow(2px 2px 2px);
 }

 h2 {
     font-size: 1rem;
 }

 p, a, input{
     font-size: 1rem;
 }

 /* IV Components */

 /* add url UI */

 .add_url {
     background-color: var(--clr-darker);
     color: var(--clr-font-light);
 }

 .add_url p {
     text-align: center;
     margin: 0;
     padding: 15px;
 }

 .add_url * {
     border: none;
 }

 #add_url_form {
     display: grid;
     grid-template-columns: auto 32px;
     background-color: var(--clr-dark);
     min-height: 32px;
 }

 #add_url_form input {
     background-color: var(--clr-dark);
     color: var(--clr-font-light);     
 }

 #add_url_btn {
     display: block;
     width: 100%;
     padding: 9px;
     background-color: var(--clr-dark);
     color: var(--clr-font-light);     
 }

 #add_url_btn:hover,
 #add_url_btn:focus {     
     background-color: var(--clr-font-ok);
     color: var(--clr-font-light);
 }

 /* url-card */

 .url {     
     border: none;
     border-bottom:  1px double black;     
     background-color: var(--clr-dark);
 }

 .url:hover,
 .url:focus {
     box-shadow: inset 0 0 10px -1px var(--clr-font-light);
     filter: drop-shadow(2px 2px 2px)
 }


 .url ul {
     display: grid;
     grid-template-columns: 48px auto 48px;
     text-decoration: none;
     list-style: none;     
     padding: 5px;
     overflow: hidden;
 }

 .url:hover ul,
 .url:focus ul {
     filter: drop-shadow(2px 2px 2px)
 }


 .url li{
     height:48px;

 }
 .url img{
    width: 2.2rem;
    height:2.2rem;
    scale: 1;
    margin: 4px;    
    border-radius: 50%;
    border: 3px solid;    
    filter:drop-shadow(1px 1px 1px);    
}


 .url a {
     display: block;
     position: relative;
     left: 3rem;
     padding: 1rem;     
     transition: font-size 300ms ease-in-out, left 400ms ease-in-out;
     color: var(--clr-font-light);
     filter: drop-shadow(1px 1px 1px);
     text-decoration: none;
 }

 .url:hover a,
 .url:focus a {
     font-size: 1.2rem;
     left: 0rem;
     font-weight: 600;
 }
 .mute_btn,
 .del_btn {
     width: 2.1rem;
     height: 2.1rem;     
     position: absolute;
     border: none;
     border-radius: 50%;
     opacity: 0;
     background-color: var(--clr-darker);
 }

.del_btn {
     transition:  opacity 300ms ease-in-out, right 300ms ease-in; 
     right: -100px;
     
 }

 .mute_btn{
    transition:  opacity 400ms ease-in-out, top 600ms ease-in; 
    top: -100vh;    
    right: 2.5rem;          
}
.url:hover .mute_btn, 
 .url:focus .mute_btn,
 .url:hover .del_btn, 
 .url:focus .del_btn{
     margin: 0.4rem;
     top: 0;
     opacity: 1;
     color: var(--clr-font-light);
 }

 .url:hover .del_btn, 
 .url:focus .del_btn{     
     right: 0.2rem; 
 }


 .url button:hover,
 .url button:focus {
     background-color: var(--extrem-orange);
     border-color: var(--extrem-orange);
     box-shadow: 0 0 5px 2px var(--extrem-orange);
 }

 /* the button in the footer to hide or display the saved urls*/
 #toggle-list-btn {  
    width: 100%;    
    padding: 15px 0px 15px 0px;
    color: var(--clr-font-light);    
    border: none;
     
 }

 #toggle-list-btn:hover,
 #toggle-list-btn:focus,
 .add_url:hover p,
 .add_url:focus p {
     color: var(--clr-font-ok);
     filter: drop-shadow(4px 4px 4px);
 }


 /* switch classes to display the status as color arround .url-card img */

 .status-0,
 .status-400 {
     border-color: var(--clr-font-err);
     color: var(--clr-font-err);
 }

 .status-200 {
     border-color: var(--clr-font-ok);
     color: var(--clr-font-ok);
 }